{{#if tags.length}}
---
tags:
{{#each tags}}
  - {{this}}
{{/each}}
---

{{/if}}
{{#if pictoSpan}}
{{pictoSpan}}

{{/if}}
# {{title}}

This page contains all **{{controlCount}}** controls and control enhancements in the {{title}} family from the vendored NIST SP 800-53 Revision 5 OSCAL catalog.

!!! info "Official NIST OSCAL source"
    - **Catalog version:** {{controlCatalog.version}}
    - **OSCAL version:** {{controlCatalog.oscalVersion}}
    - **Catalog last modified:** {{controlCatalog.lastModified}}

{{#each controlFamilies}}
{{#each controls}}
## {{displayId}} ({{title}}) { #{{anchorId}} }

{{#if baselineClasses.length}}
<div class="subset-applicability full-control-baselines" role="group" aria-label="FedRAMP Rev5 baseline applicability">
<span class="subset-applicability__group subset-applicability__group--classes"><span class="subset-applicability__label">FedRAMP Rev5 Baselines:</span> <span class="subset-applicability__values">{{#each baselineClasses}}<span class="subset-applicability__tag">{{this}}</span>{{/each}}</span></span>
</div>

{{/if}}
!!! quote ""
{{#each statementLines}}
    {{this}}
{{/each}}

    ---

{{#unless hasFedrampContent}}
    _This control does not have additional FedRAMP guidance or FedRAMP-assigned parameter values._

{{/unless}}
{{#if hasFedrampContent}}
    !!! info ""
{{#if commonGuidance}}
{{#if commonGuidance.guidance.length}}
        **FedRAMP Guidance**

{{#each commonGuidance.guidance}}
        {{this}}

{{/each}}
{{/if}}
{{#if commonGuidance.parameters.length}}
        **FedRAMP Parameters**

        | Parameter ID | NIST assignment | FedRAMP value |
        | --- | --- | --- |
{{#each commonGuidance.parameters}}
        | `{{id}}` | {{label}} | {{value}} |
{{/each}}

{{/if}}
{{/if}}
{{#if classVariants.length}}
{{#each classVariants}}
        === "{{title}}"
{{#if guidance.length}}
{{#each guidance}}
            {{this}}

{{/each}}
{{/if}}
{{#if parameters.length}}
            **FedRAMP Parameters**

            | Parameter ID | NIST assignment | FedRAMP value |
            | --- | --- | --- |
{{#each parameters}}
            | `{{id}}` | {{label}} | {{value}} |
{{/each}}

{{/if}}
{{/each}}
{{/if}}
{{/if}}
    ---

    **External Link for Additional Information:** [myctrl.tools]({{externalUrl}})

---

{{/each}}
{{/each}}
